@charset "utf-8";
/* CSS Document */
.item-images-size {
	height: 200px;
	width: 200px;
	padding: 5px;
}
.description{
	margin: 20px;
	min-height: 100px;
}

.item-select{
	margin: 10px 0 0 0;
}

.Buy-btn{
	border: 1px solid rgba(228,208,28,1.00);
	background: rgba(228,208,28,1.00);
	padding: 5px 15px;
	border-radius: 20px;
	font-weight: bold;
	margin-top:10px;
	color: black;
}

.Buy-btn :hover{
	border: 1px solid #5b8c5a;
	box-shadow: 0 0 10px 5px #5b8c5a inset;
}

.Cart-btn{
	border: 1px solid rgba(23,210,225,1.00);
	background: rgba(23,210,225,1.00) ;
	padding: 5px 15px;
	border-radius: 20px;
	font-weight: bold;
	margin-top:10px;
	color: black;
}

.Cart-btn :hover{
	border: 1px solid rgba(229,56,59,1.00);
	box-shadow: 0 0 10px 5px solid rgba(132,239,230,1.00)  inset;
}

